* {
  color: #f2eded;
  // background: rgb(243, 247, 236);
}

#loginPage {
  background: rgb(12, 40, 52);
  // background-repeat: no-repeat;
  background-image: url(../images/job.png);
  background-repeat: no-repeat;
}
