@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');


// * {
//   font-family: 'Ubuntu Light', sans-serif;
// }

body {
  background: rgb(12, 40, 52);
  // background-repeat: no-repeat;
  background-image: url(../images/job.png);
  background-repeat: no-repeat;
}

button {
  background: #00cc99;
  color: rgb(12, 40, 52);
  padding: .5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  // margin-top: 1rem;
  // padding: 1rem;
  // font-size: 1.2rem;
  // border-radius: 7px;
}

.button:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  // outline: none;
}

.newApp-Field {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  // gap: 5px 5px;
  // grid-template-areas:
  //   "JobPosition CompanyName Email"
  //   "Phone Contact Link"
  //   "Status Status Button";
  // width: 800px;
  // height: 300px;

  background-color: rgba(255, 255, 255, .5);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  // width: 100%;
  // transition: all .1s linear;
}

// .Status { grid-area: Status; }
// .Button { grid-area: Button; }
// .JobPosition { grid-area: JobPosition; }
// .CompanyName { grid-area: CompanyName; }
// .Email { grid-area: Email; }
// .Phone { grid-area: Phone; }
// .Contact { grid-area: Contact; }
// .Link { grid-area: Link; }
// .newApp-Field:focus {
//   box-shadow: 10px 4px rgba(0, 0, 0, .5);
//   outline: none;
// }
.signUp-Field {
  color: rgb(12, 40, 52);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.login-Field {
  color: rgb(12, 40, 52);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

#login {
  color: whitesmoke;
  // text-align: center;
  margin-bottom: 10px;
}

#header {
  text-align: center;
  // letter-spacing: .2em;
  color: whitesmoke;
  margin-bottom: 10px;
}

#newApp {
  // text-align: center;
  // letter-spacing: .2em;
  color: whitesmoke;
  margin-bottom: 10px;
}

#signUpTitle {
  color: whitesmoke;
  margin-bottom: 10px;
}

.newApplication {
  //   text-align: center;
  //   margin-bottom: 10px;
  //   color: whitesmoke;
  border: rgb(12, 40, 52);
  background-color: #171d2c;
  backdrop-filter: saturate(180%) blur(10px);
}

#jobTable {
  background-color: #1c1042;
  color: whitesmoke;
  font-size: 16px;
  margin: 70px;
  padding: 20px;
  backdrop-filter: saturate(180%) blur(10px);
}

#tableHead {
  font-size: 18px;
}