@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');


* {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: rgb(12, 40, 52);
  // background-repeat: no-repeat;
  background-image: url(../images/job.png);
  background-repeat: no-repeat;
}

button {
  background-color: #00cc99;
  color: rgb(12, 40, 52);
  padding: .5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);

  // margin-top: 1rem;
  // padding: 1rem;
  // font-size: 1.2rem;
  // border-radius: 7px;
  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    background-color: #005e46;
    color: white;
    cursor: pointer;
    // outline: none;
  }
}

.delete-button {
  color: rgb(231, 231, 232);
  background-color: rgb(83, 82, 82);
  margin: 0px auto;
  height: 3vw;
  min-height: fit-content;

  &:hover {
    background-color: rgb(129, 128, 128);
  }
}


.newApp-Field {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  // gap: 5px 5px;
  // grid-template-areas:
  //   "JobPosition CompanyName Email"
  //   "Phone Contact Link"
  //   "Status Status Button";
  // width: 800px;
  // height: 300px;

  background-color: rgba(255, 255, 255, .5);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  // width: 100%;
  // transition: all .1s linear;
}

// .Status { grid-area: Status; }
// .Button { grid-area: Button; }
// .JobPosition { grid-area: JobPosition; }
// .CompanyName { grid-area: CompanyName; }
// .Email { grid-area: Email; }
// .Phone { grid-area: Phone; }
// .Contact { grid-area: Contact; }
// .Link { grid-area: Link; }
// .newApp-Field:focus {
//   box-shadow: 10px 4px rgba(0, 0, 0, .5);
//   outline: none;
// }
.signUp-Field,
.login-Field {
  color: rgb(12, 40, 52);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);

}

#login,
#signup {
  color: whitesmoke;
  width: 50%;
  margin: 10% auto 10px;
  text-align: center;
}

.button-container {
  width: 35%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}

.fieldDiv {
  display: flex;
  flex-direction: column;

  & input {
    width: 60%;
    margin: 0.5% auto;
  }
}



#header {
  text-align: center;
  // letter-spacing: .2em;
  color: whitesmoke;
  margin-bottom: 10px;
}

#newApp {
  // text-align: center;
  // letter-spacing: .2em;
  color: rgb(69, 68, 68);
  margin-bottom: 10px;
}

#signUpTitle {
  color: whitesmoke;
  margin-bottom: 10px;
}

.newApplication {
  //   text-align: center;
  //   margin-bottom: 10px;
  //   color: whitesmoke;
  border: rgb(12, 40, 52);
  backdrop-filter: saturate(180%) blur(10px);
}

#jobTable {
  background-color: rgba(255, 255, 255, .5);
  width: fit-content;
  color: rgb(48, 48, 48);
  font-size: 16px;
  margin: 4% auto;
  padding: 20px;
  backdrop-filter: saturate(180%) blur(10px);
}


td {
  width: 4%;
  border-top: 2px solid grey;
  // border-left: 2px solid grey;
}

.update {
  width: fit-content;
  & * {
    box-sizing: border-box;
    margin: 2% auto;
    height: 3vw;
  }

  & button {
    padding: 4% 5%;
  }
}

#tableHead {
  font-size: 18px;
}


.status {
  background-color: rgba(255, 255, 255, .5);
  margin-top: 0.7rem;
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);

}

#update-field {
  display: none;
}


.submit-status-btn {
  margin-top: 0.7rem;
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 5px;
}