@import './variables';
@import './signup';
@import './login';
@import './dashboard';
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: rgb(12, 40, 52);
  // background-repeat: no-repeat;
  background-image: url(../images/job.png);
  background-repeat: no-repeat;
}

button {
  background-color: #00cc99;
  color: rgb(12, 40, 52);
  padding: .5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);

  // margin-top: 1rem;
  // padding: 1rem;
  // font-size: 1.2rem;
  // border-radius: 7px;
  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    background-color: #005e46;
    color: white;
    cursor: pointer;
    // outline: none;
  }
}